version: "3"

services:
  db:
    image: postgres
    container_name: laravel-db
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: laravel_db
    # コンテナの再起動時にもデータを保持したい場合は以下を有効化
    # volumes:
    # - ./postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    container_name: php-apache
    build:
      context: ./php
    ports:
      - 8080:80
      # - 8443:443
    volumes:
      - ./src:/var/www/push_app
      - ./scripts:/var/www/push_app/scripts
      - ./apache/default.conf:/etc/apache2/sites-enabled/000-default.conf
      # - ./apache/certs:/etc/apache2/ssl/certs
    depends_on:
      - db
    command: bash -c "./scripts/init_db.sh && ./scripts/run_server.sh"
