version: "3"

services:
  db:
    image: postgres
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: laravel_db
    # コンテナの再起動時にもデータを保持したい場合は以下を有効化
    # volumes:
    # - ./postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  php-apache:
    container_name: php-apache
    build:
      context: ./php
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/laravel_docker
      - ./apache/default.conf:/etc/apache2/sites-enabled/000-default.conf
    depends_on:
      - database
