html,
body {
    height: 100%;
    overflow-y: none;
    background-color: gray;
    font-family: "Fredoka", sans-serif;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 80px;
    color: white;
    background-color: gray;
    font-size: xx-large;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header > div > .nav-items {
    color: rgb(200, 200, 200);
    /* display: flex; */
    /* align-items: center; */
    font-size: x-large;
    display: flex;
    gap: 10px;
    margin-right: 20px;
}
.header > div > div > a:hover {
    color: white !important;
}
.header > div > .icon-wrapper {
    /* border: 1px solid; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header > div > .icon-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.header > div > div > .material-icons {
    display: flex;
    align-items: center;
    font-size: xx-large;
}
.footer {
    height: 40px;
    color: white;
    background-color: gray;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents {
    flex-grow: 1;
    padding: 0 50px;
    background-color: white;
}

.page-title {
    margin-top: 10px;
    font-size: x-large;
}
